body {
/*	background-color: #f9f6f1;*/
	background-image: none;
	background: #f5f1eb;
	font-family: 'Yu Gothic', sans-serif;
	margin: 0;
	padding: 40px 0;
}
/* 注文確認画面などで棒を非表示にしたい場合 */
.step::before,
.step::after {
  display: none !important;
  content: none !important;
}

.container {
	max-width: 700px;
	margin: 0 auto 40px;
/*	background-color: #fff;*/
	padding: 30px;
	border-radius: 10px;	
}

.breadcrumb {
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}

h1 {
	font-size: 28px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.thanks {
	text-align: center;
	margin: 50px 0 30px;
}

.thanks h2 {
	color: #4b2c20;
	font-size: 22px;
}

.thanks p {
	color: #333;
	font-size: 14px;
	line-height: 1.8;
	margin: 20px 0;
}

.order-number {
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	color: #444;
}

.btn {
	display: block;
	width: 200px;
	margin: 30px auto 0;
	background: #44475a;
	color: white;
	text-align: center;
	padding: 12px 0;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
}

.btn:hover {
	background: #333646;
}