body{
	background: #f5f1eb;
/*	font-family: 'Shippori Mincho B1', serif;*/
}

/*button, input, select, textarea {*/
/*  font-family: inherit;*/
/*}*/

/*html, body, h1, h2, h3, h4, h5, h6, p, a, span, div, li, dt, dd, input, button, select, textarea {*/
/*  font-family: 'Shippori Mincho B1', serif !important;*/
/*}*/


h1 {
	border-bottom: 1px solid rgb(192, 192, 192);
	max-width: 600px;
	padding-bottom: 20px;
	text-align: center;
	margin: 0 auto;
}


.product-grid {
	max-width: 1000px;
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 20px;
    justify-content: center;
}

.product-card {
    width: 200px;
/*    border: 1px solid #eee;*/
    padding: 20px;
/*    background: rgb(234, 234, 234);*/
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    background: transparent;
    object-fit: contain;
}

.product-info {
    text-align: center;
}

.brand {
    font-size: 12px;
    color: gray;
    margin-bottom: 4px;
}

.name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;
}

.price {
    font-size: 13px;
    color: #000;
}

a {
	text-decoration: none;
}